* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #D2E8E3;
    font-family: OCR A Std, monospace;
    color: black;
}

.nav-itens {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    background-color: #CCEA8D;
    box-shadow: 0px 0px 20px 0px black;
    padding: 10px 10px;
}

.nav-itens li {
    margin-right: 20px;
}

.nav-itens a {
    text-decoration: none;
    color: #333333;
    font-weight: 500;
}

.nav-itens a:hover {
    font-weight: bolder;
    font-size: 20px;
}

.logo {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: bold;
    margin-right: 20px;
}

.container {
    padding: 0px 50px;
}

header {
    text-align: center;
}

header img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #A6BC09;
    box-shadow: 0px 0px 20px 0px black;
}

.center {
    text-align: center;
    padding-top: 75px;
}

footer img {
    width: 30px;
    height: 30px;
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0px;
    bottom: 0;
    margin: 0;
    width: 100%;
    position: fixed;
}

footer a {
    margin: 10px;
}

p {
    padding: 0px;
}

.contatos {
    margin-top: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5px;
    text-decoration: none;
}


.contatos a:hover {
    font-weight: bolder;
    text-decoration: none;
    font-size: 20px;
}